<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krish.medical_app">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.Signup"></activity>
        <activity android:name=".UI.New_patient_info"></activity>
        <activity android:name=".UI.View_patient"></activity>
        <activity android:name=".UI.Delete_popup"></activity>
        <activity android:name=".UI.My_patients"></activity>
        <activity android:name=".UI.Notes"></activity>
        <activity android:name=".UI.Pictures_options_popup"> </activity>
        <activity android:name=".UI.Doctor_profile"></activity>
        <activity android:name=".UI.Printable"></activity>
        <activity android:name=".UI.Pdf_view"></activity>
        <activity android:name=".UI.View_image"></activity>
    </application>


</manifest>